<div class="action">
    <h4>READY TO SWEETEN YOUR DIABETES JOURNEY? TAKE CHARGE TODAY!</h4>

    <button>create an Account</button>

    <h6>already have an account? <a href="#">Login!</a></h6>
</div>

<div class="offers">
    <div class="acc">
        <img src="../Assets/Vector.svg"alt="">
        <h4>CREATE AN ACCOUNT</h4>
    </div>
    <div>
        <img src="../Assets/customer care.svg" alt="">
        <h4>ACCESS COMMUNITY</h4>
    </div>
    <div>
        <img src="../Assets/chat 1.svg" alt="">
        <h4>AI VISUAL ASSISTANCE</h4>
    </div>
    <div>
        <img src="../Assets/fast.svg" alt="">
        <h4>TRACK MEDICATIONS</h4>
    </div>
</div>