<div class="details">
    <div  class="details-item">
        <h3>CHAT WITH OUR VIRTUAL ASSISTANT</h3>
        <p>Need support or a quick answered? our friendly Al <br> chatbot is always there 24/7, with encouragment, tips and <br> reliable information.
            <p>
                Need suport or a quick question answered? Our friendly AI <br> chatbot is always there, 24/7, with encouragement, tips and  <br>reliable information.
            </p>
        </p>
        
    </div>
    <img class="foto1" src="../Assets/image 7.png" alt="">
</div>
<div class="details">
    <img  class="foto2" src="../Assets/image 8.png" alt="">
    <div class="details-item">
        <h3> ACCESS TAILORED RESOURCES AND NEWSLETTER</h3>
        <P>
            One of the key goals of building this solution is to  bring <br> information to your doorstep when needed. <br> Our newsletters and articles provides detailed guide on <br> managing your health and reducing risk of emergencies and <br> sudden breakdown.

        </P>
        <p>
            Chat with seasoned medical professionals about your health status
        </p>

    </div>
</div>

<div class="write-up">
    <p>
        GlucoTrack is a support system, and a powerful tool for taking control of your health. we belive in the strength of the <br> African spirit, and we're here to walk beside you every step of the way.
    </p>

    <p>
        GlucoTrack is a product that provides patients tackling diabetes acess to healthcare professionals like pharmacists. doctors, <br> and nutritionists through telemedicine. The platform will also provide information on nearby healthcareresoures such as <br>pharmacies that carry insulin, outreach clinics, anf free check-up stations.
    </p>
</div>