<div class="description">
  <h2>Al-enabled to improve health outcomes</h2>
  <p>
    Living with diabetes in Africacan feel isolating, confusing, and <br />
    overwhwlming. But you don't have to go through it alone. GlucoTrack is your
    all <br />-in-one care companion, designed by Africans, for Africans, to
    help you <br />
    manage your diabetes with confidence and joy.
  </p>
</div>

<div class="features">
  <div>
    <img src="../Assets/image 2.png" alt="" />
    <h3>CHAT WITH YOUR AI FRIEND</h3>
    <p>
      Need support or a quick question answered? Our friendly AI chatbot is
      always there, 24/7, with encouragement, tips, and reliable information.
    </p>
  </div>
  <div>
    <img src="../Assets/image 3.png" alt="" />
    <h3>JOURNAL YOUR JOURNEY</h3>
    <p>
      Track your blood sugar, meals, moods, and activites in a safe, personal
      space. Reflect on your progress and identify patterns with ease.
    </p>
  </div>
  <div>
    <img src="../Assets/image 4.png" alt="" />
    <h3>UNLOCK YOUR DATA</h3>
    <p>
      Get personalised insights into your health with powerful AL tools. See how
      your choices impact your well-being and make informed decisions.
    </p>
  </div>
  <div>
    <img src="../Assets/image 5.png" alt="" />
    <h3>FIND YOUR TRIBE</h3>
    <p>
      Join a vibrant community of people just like you. Share experiences, offer
      support, and learn from each other in a safe and inclusive space.
    </p>
  </div>
  <div>
    <img src="../Assets/image 6.png" alt="" />
    <h3>TALK TO REAL DOCTORS</h3>
    <p>
      When you need expert guidance, connect with licensed African doctors via
      video consultaions. Get personalised advice prescriptions, and feel heard.
    </p>
  </div>
</div>
<hr>

<hr class="line">
<div class="track">
    <p>
        GlucoTrack is more than just an app; it's a community, a support system, <br> and a
        powerful tool for talking control of your health. We believe in the strength <br>
        of the African spirit, and we're here to walk beside you every <br> step of the way
        way.
      
    </p>


    <button>create an Account</button>
 </div>
