.action{
    text-align: center;
    padding: 20px;
    color:  #58595B;
}
.action h4 {
    padding: 15px;
}
.action h6 {
    padding: 15px;
}


.action a{
    color: #7b3b96;
}

.offers{
    display: flex;
    justify-content: center;
    gap: 20px;
    color:  #58595B;
}

.offers img{
   padding-left: 50px;
}

.acc{
    padding: 15px 0px;
}