hr{
    color:  #58595B;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    color: #58595B;
    background-color:  #F2EBF4;
}

.footer p{

    color: #58595B;
       
}