.nav-bar {
  display: flex;
 justify-content: space-between;
  background-color: #7b3b96;
  color: white;
  padding: 10px 50px;
  font-family: Open Sans;
  margin-bottom: 10px;
  width: 100%;
}

.nav-bar-items {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

 ;
}
.nav-bar-items a{
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.hamburger{
  display: none;
cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;

}

@media(max-width: 768px) {
 .hamburger{
  display: block;
 }
 .hamburger.active .bar:nth-child(2){
  opacity:0;
 }
 .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);

 }
 .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
  
 }
 .nav-bar-items{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
 }

 .nav-bar-items.active{
  left: 0;
  
 }
}

