.description{
  text-align: center;
  margin-bottom: 30px;
}
.description h2{
color: #7b3b96;
}
.description p{
  margin: 0 auto;
  color: #58595B;
}

.features{
  display: flex;
  gap: 4px;
  padding: 9px;
  margin: 10px 15px;
  text-align: center;
  color:  #58595B;
}
hr{
  margin: 30px;
  color: #7b3b96;
}
.line{
  color: #7b3b96;
  margin: 0px 600px;
  align-items: center;
}
.track{
  text-align: center;
  margin: 0px 100px;
}
.track p{
 padding: 20px;
 color:  #58595B;
}

